:root {
    --cor1:#000000;
    --cor2:#ffffff;
    --cor3:#a9a9a9;
    --font-principal: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-principal);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor1);
    color: var(--cor2);
    height: 15vh;
    font-size: 30px;
}

#titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;
}

#titulo:hover {
    color: var(--cor3)
}

#navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#navegacao a {
    color: var(--cor2);
    font-family: var(--font-principal);
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    transition: 0.3s all ease;
}

#navegacao a:hover {
    border-top: 1px solid var(--cor3);
    border-bottom: 1px solid var(--cor3);
    color: var(--cor3);
}

header button {
    width: 100px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--cor2);
    font-size: 15px;
    font-family: var(--font-principal);
    border: 1px solid var(--cor1);
    cursor: pointer;
    transition: all 0.3s ease;
}

header button:hover {
    background-color: var(--cor1);
    color: var(--cor2);
    border: 1px solid var(--cor2);
}

main {
    height: 70vh;
    background-color: var(--cor2);
}

footer {
    height: 15vh;
    background-color: var(--cor3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: 3px solid var(--cor1);
}

#identificacao-autor {
    font-size: 20px;
    font-weight: 700;
}

#identificacao-titulo {
    font-size: 12px;
}

#identificacao-funcao {
    font-size: 13px;
}

#redessociais {
    font-size: 24px;
}

#redessociais i{
    cursor: pointer;
    transition: all 0.3s ease;
}

#redessociais i:hover {
    font-size: 30px;
    text-shadow: 3px 3px 3px var(--cor2);
}