:root {
    --cor1:#000000;
    --cor2:#ffffff;
    --cor3:#a9a9a9;
    --font-principal: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-principal);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor1);
    color: var(--cor2);
    height: 15vh;
    font-size: 30px;
}

#titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;
}

#titulo:hover {
    color: var(--cor3)
}

#navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#navegacao a {
    color: var(--cor2);
    font-family: var(--font-principal);
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    transition: 0.3s all ease;
}

#navegacao a:hover {
    border-top: 1px solid var(--cor3);
    border-bottom: 1px solid var(--cor3);
    color: var(--cor3);
}

header button {
    width: 100px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--cor2);
    font-size: 15px;
    font-family: var(--font-principal);
    border: 1px solid var(--cor1);
    cursor: pointer;
    transition: all 0.3s ease;
}

header button:hover {
    background-color: var(--cor1);
    color: var(--cor2);
    border: 1px solid var(--cor2);
}

main {
    height: 70vh;
    background-color: var(--cor2);
}

footer {
    height: 15vh;
    background-color: var(--cor3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: 3px solid var(--cor1);
}

#identificacao-autor {
    font-size: 20px;
    font-weight: 700;
}

#identificacao-titulo {
    font-size: 12px;
}

#identificacao-funcao {
    font-size: 13px;
}

#redessociais {
    font-size: 24px;
}

#redessociais i{
    cursor: pointer;
    transition: all 0.3s ease;
}

#redessociais i:hover {
    font-size: 30px;
    text-shadow: 3px 3px 3px var(--cor2);
}

















#cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor2);
    color: var(--cor1);
    gap: 24px;
}

.card {
    width: 25%;
    height: 60vh;
    margin-top: 8vh;
    background-color: var(--cor3);
    color: var(--cor1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    box-shadow: 4px 4px 10px var(--cor1);
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

.card:hover {
    background-color: var(--cor1);
    color: var(--cor2);
}

#categorias {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#categorias h1 {
    font-size: 30px;
}

#categorias p {
    font-size: 20px;
}

#formularioCategoria input[type="text"] {
    border: 1px solid var(--cor1);
    border-radius: 5px;
    padding: 3px;
    width: 260px;
}

#formularioCategoria input[type="text"]:focus {
    background-color: var(--cor3);
    outline: none;
}

#formularioCategoria input[type="submit"] {
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 5px 15px;
    border: 2px solid var(--cor1);
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all ease;
} 

#formularioCategoria input[type="submit"]:hover {
    background-color: var(--cor3);
    color: var(--cor1);
}

#formularioCategoria {
    width: 100%;
    border-collapse: collapse;
}

#tabelaCategorias th, #tabelaCategorias td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid var(--cor3);
}

#tabelaCategorias th{
    background-color: var(--cor3);
    font-weight: bold;
}

#tabelaCategorias {
    background-color: var(--cor3);
    opacity: 0.8;
}